<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>About Our Hotel</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/products">Produk</a>
            <a href="/about">Tentang Kami</a>
            <a href="/booking">Pesan Sekarang</a>
        </nav>
    </header>
    <main>
        <h2>Selamat Datang Dihotel Kami</h2>
        <p>Alamat   : Jl. Kendal No.14, RT.10/RW.6, RT.10/RW.6, Dukuh Atas, Menteng, K, 10310, Jakarta, Indonesia</p>
        <p>Telepon  : (021)22391106</p>
        <p>Email    : reservation@oduathamrin-jakarta.com</p>
    </main>
    <footer>
        <p>&copy; 2024 NGAMAR.COM</p>
    </footer>
</body>
</html>